body{
    margin: 0;
    padding: 0;
    background-color: #BBBBBB;
    text-align: center;
    width: 1350px;
}
*{
    box-sizing: border-box;
}
.sayfa{
    width: 1350px;
   padding: 0;
    margin: 0 ;
    background-color: white;
}
.baslik{
    background-color: #89196B;
    color: white;
    padding: 0;
    font-size: 15px;
}


/* Menu Kutusu */
.menu {
    background-color: #333;
}
.menu ul{
    margin:0;
    padding:0;
    list-style: none;
}
.menu ul li{
    float:left;
    width: 25%;
    background-color: cornsilk;
}
.menu ul li a{
    height: 50px;
    line-height: 50px;
    background: #cecece;
    color:#fff;
    display: block;
    width: 100%;
    margin:0 5px 0 0;
    text-align: center;
    background-color:cornsilk ;
    border: cornsilk;
    font-style: normal ;
    color: darkblue;
    font-family: Arial;

}
/* Mouse üzerinde iken link değişimi */
.menu a:hover {
    background-color: #ddd;
    color: black;
}
.sutun{
    float: left;
    padding: 10px;
    background-color: darkkhaki;
}
.icerik{
    background-color: darkkhaki;
    width:max-content;
}
.sol,.sag{
    overflow:scroll ;
    height:500px;
    width: 20%;
    
    
}
.orta{
    height:500px;
    width: 60%;
    overflow: scroll;
}
.icerik:after {
    content: "";
    display: table;
    clear: both;
    background-color: darkkhaki;
}
.alt {
    background-color:goldenrod;
    color: white;
    padding: 10px;
    text-align: center;
}
summary{
    text-align: left;
    color: rgb(206, 16, 63);
    
}
details{
    color:blue;
}
.baslik div{
    float: right;
}
.prList{
    width:10px;
    height: 10px;
    background: #89196B;
    display: flex;

}
li{
    list-style-type: none;
}